*{ 
padding: 0;
margin:0;
box-sizing: border-box;
}

html{
    font-family: Verdana, Times New Roman, Tahoma, sans-serif;
}

#navbar{
    background-color: rgb(76,175,80);
    height: 74.38px;
}

ul{
    display: inline;
}

#top-logo li{
    padding-left: 45px ;
    display: inline-block;
    font-size: 32px;
    margin-top: 15px;
}
#nav{
    padding-left: 250px;
}

#nav li {
    float: right;
    display: inline-block;
    line-height:74.38px;
    font-size: 24px;
    padding: 0px 30px 0px 30px;

}

#himindx{
    border: 1px solid gray;
    padding: 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

#about{
    background-color: #000;
}

.header{
    padding: 15px;
    padding-top: 45px;
    color: rgb(76,175,80);
    font-size: 48px;
    text-align: center;
    height: 210px;
}


hr{
    background-color: rgb(76,175,80);
    width:7%;
    text-align:center;
    margin: auto;
    border-color: rgb(76,175,80);
}

.column{
    display: flex;
    align-items: center;
    justify-content: center;
}


.img, .content{
    flex: 50%;
    height: 238px;
    margin-bottom: 30px;
}

.img{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 15px;
}

img{
    width: 250px;
}

.content{
    color: #fff;
    line-height: 2;
    padding: 15px;
}


#projects{
    background-color: rgb(194,192,195);
    color: #000;
}

#projects .header{
    color: #000;
}

#projects .header>hr{
    background-color: #000;
    border-color: #000;
}

.img-pro, .content-pro{
    flex: 50%;
    height: 238px;
    margin-bottom: 30px;
}

.content-pro{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 15px;
    line-height: 3;
}

.img-pro{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
}

.list-achieve>li{
    text-align:left;
    padding-left: 15%;
}

#achieve{
    background-color: #000;
}

#achieve .list-achieve{
    color: #fff;
    list-style-position: inside;
}

.sub-achieve>li{
    padding-left: 15px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contact hr{
    background-color: #000 !important;
    border-color: #000;
    padding: 15px;
}

td{
    padding: 15px 0px 15px 0px;
}

font{
    padding-left: 15px;
}

.column.link{
    height: 52px;
    background-color: rgb(76,175,80);
    justify-content: center;
}

#linkid{
    margin: 15px;
    padding-right: 15px;
    border-right:1px solid #000;
}

.column-footer{
    background-color: #000;
    color: rgb(76,175,80);
    display: flex;
    align-items: center;
}

.right{
    font-size: 24px;    
    padding-left: 30px;
    width: 50%;

}

.top{
    font-size: 32px;
    padding-right: 45px;
    float: right;
}